<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
    <title>Room Lighting Manager</title>
    <style>
        body {text-align: center; padding-left: 30px;}
        table, th, td {padding: 10px; border: thin solid; border-collapse: collapse;}
        h2 {text-align: center;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/room.js"></script>
</head>
<body>
<h3>Rooms List</h3>
<table id="roomsTable">
    <thead>
    <tr>
        <th>Room Id</th>
        <th>Room Name</th>
        <th>Country Code</th>
        <th>Light Is On</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    roomService.getRooms();
</script>
</body>
</html>